# Database
*.accdb
*.db
*.dbf
*.mdb
*.pdb
*.sqlite3
*.db-shm
*.db-wal

# Go
build/bin/*.exe
build/bin/*.out
build/bin/*.exe~
*.dll
*.so
*.dylib
*.test
go.work

# JetBrains
.idea/*
cmake-build-*/
*.iws
out/
.idea_modules/
atlassian-ide-plugin.xml
.idea/replstate.xml
.idea/sonarlint/
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
.idea/httpRequests
.idea/caches/build_file_checksums.ser
.idea/**/sonarlint/
.idea/**/sonarIssues.xml
.idea/**/markdown-navigator.xml
.idea/**/markdown-navigator-enh.xml
.idea/**/markdown-navigator/
.idea/$CACHE_FILE$
.idea/codestream.xml
.idea/**/azureSettings.xml

# VsCode
.vscode/*
.history/*
*.vsix
.history
.ionide

# Frontend
frontend/dist
frontend/node_modules
frontend/src/output.css
build/bin

.env